@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    /* font-family: Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
    /* font: normal 20px 'Roboto', sans-serif */
    /* text-decoration: line-through; */
    /* font-size: italic; */
    /* letter-spacing: 2px; */
    /* word-spacing: 20px; */
}
/* .css p {
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
} */