.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
}

.table {
    width: 100%;
}

.table td {
    text-align: center;
    padding-bottom: 10px;
}

.table td:hover {
    background: #eeefff;
}

.table td:nth-child(2), .table td:nth-child(4) {
    background: #fffeee; 
}

.navbar {
    background: lightcoral;
    /* padding: 10px 20px; */
    margin-bottom: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
}

.navbar ul li {
    margin-right: 10px;
    padding: 10px;
}

.navbar ul li:hover{
    background: #ea6767;
}

.navbar ul li:last-child {
    margin-right: 0;
}
/* .table tr:nth-child(even) {
    background: #eee;
}
подстветка столбиков
.table tr:nth-child(odd) {
    background: #eee;
} */