.playground {
    border: 4px solid black;
    height: 300px;
    padding: 20px;
    position: relative;
}

.pos-box {
    /* position: static; */
    /* position: fixed; */
    position: absolute;
    /* left top right bottom */
    /* top: 150px;
    left: 0; */
    width: 50px;
    height: 50px;
    background: coral;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#header {
    margin-top: 50px;
}