@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital@1&display=swap');

body {

    font: normal 16px 'Roboto', sans-serif;
    background: #f1f1f1;
    color: #0f141e;
}

.info {
    display: flex;
}

.desc {
    margin-left: 30px;
}

.btn {
    background: #111;
    padding: 15px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.9;
}

.avatar {
    width: 240px;
    border-radius: 28px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

#my_description p {
    font-style: italic;
    font-weight: 'Ubuntu', sans-serif;
    color: #86898f;
}
    .container {
        max-width: 650px;
        margin: auto;
        padding-top: 30px;
    }

a {
    color: #111;
    text-decoration: none;
}

a:hover, .btn:hover {
    color:rgba(255, 189, 102, 0.911);
}

a:active {
    color: blue;
}

.links, h4 {
    margin-bottom: 10px;
}

.card {
    padding: 4px 16px 16px 16px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card h4 {
    margin-bottom: 8px;
}

.bg-green {
    background-color: rgb(204, 248, 178);
}

.bg-pink {
    background-color: rgb(250, 194, 186);
} 

.list {
    padding: 0 20px;
}

.list li {
    color: #50545c;
    margin-bottom: 7px;
}

.table {
    padding: 0 20px;
    width: 100% ;
}

.table td {
    padding-bottom: 7px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: #86898f;
}

.form h3 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group{
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
margin-right: 0;
}

.form-group input,
.form-group textarea {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 650px) {
    .info{
        display: block;
        text-align: center;
    }
    .form-row{
        display: block;
    }
    .form-row .form-group{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

}
/* #links {
    border: 2px solid darkgray;
    padding-left: 8px;
    border-radius: 10px;
    background-color: rgb(255, 218, 173);
} */