@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital@1&display=swap');

body {

    font: normal 16px 'Roboto', sans-serif;
    background: #f1f1f1;
    color: #0f141e;
}

.container {
    max-width: 750px;
    margin: auto;
}
img {
    margin-bottom: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.links, h4 {
    margin-bottom: 10px;
}

#my_description p {
    font-style: italic;
    font-weight: 'Ubuntu', sans-serif;
    color: #86898f;
}

.card {
    padding: 4px 16px 16px 16px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card h4 {
    margin-bottom: 8px;
}

.bg-green {
    background-color: rgb(204, 248, 178);
}

.bg-pink {
    background-color: rgb(250, 194, 186);
} 


/* #links {
    border: 2px solid darkgray;
    padding-left: 8px;
    border-radius: 10px;
    background-color: rgb(255, 218, 173);
} */